# Assignment

### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*, 'hello', -87.8, -,/,+,6

In [ ]:
* -> Expression
'hello' -> Value(string)
-87.8 -> Value(integer)
- -> Expression
/ -> Expression
+ -> Expression
6 -> Value(integer)

### 2. What is the difference between string and variable?

String : A string is one of the datatype, where value is inside double or single quote

* eg: 'Sohail' or "Sohail"

Variable : A variable is used to assign some values to it.
* eg: name = "Sohail"
    age = 20

### 3. Describe three different data types.

In [12]:
# Three different datatypes
# 1. Numeric
print("1. Numeric Datatype")
# 1.1 Integer 
a = 5
print(f"Data type of a : {type(a)}")
# 1.2 Float
b= 5.8
print(f"Data type of b: {type(b)}")
# 1.3 Complex Number
c= 5+3j
print(f"Data type of c: {type(c)}")

# 2. Sequence datatype
print("2. Sequence Datatype")
# 2.1 String
my_name = "Sohail Parvez"
print(f"Data type of my_name: {type(my_name)}" )
# 2.2 list
my_marks = [14,25,623]
print(f"Data type of my_marks: {type(my_marks)}")
# 2.3 tuple
numbers = (30,24,66)
print(f"Data type of numbers: {type(numbers)}")

# 3. Boolean Datatype
print("3.Boolean Datatype")
a = 100
b = 100
r = a==b
print(f"Data type of r: {type(r)}")

1. Numeric Datatype
Data type of a : <class 'int'>
Data type of b: <class 'float'>
Data type of c: <class 'complex'>
2. Sequence Datatype
Data type of my_name: <class 'str'>
Data type of my_marks: <class 'list'>
Data type of numbers: <class 'tuple'>
3.Boolean Datatype
Data type of r: <class 'bool'>

### 4. What is an expression made up of? What do all expressions do?

In [16]:
#An expression is made up of combination of all different mathematical operations
math = 5+2
print(math)

7

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

* The spam = 10 means we are storing or assigning 10 to 'spam' variable.
An expression is made up of combination of all different mathematical operations 

a = 5 - 4
b = 10/3

Statement is a code which we are writting in python

a = 10 # statement 1

name = 'sohail' # statement 2

### 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [18]:
bacon = 22
print(bacon)
bacon2 = bacon + 1
print(bacon2)

22
23

## 7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;

spam&#39; * 3

In [21]:
variable_1 = 'spam' + 'spamspam'
print(variable)
variable_2 = 'spam'*3
print(variable_2)

spamspamspam
spamspamspam

### 8. Why is eggs a valid variable name while 100 is invalid?
It gives us wrong syntax error. Because we have to use any name as variable name not numeric

In [24]:
eggs = 'my'
eggs

'my'

In [25]:
100 = 'my'
print(100)

SyntaxError: cannot assign to literal (<ipython-input-25-6582270ea823>, line 1)

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [34]:
any_number = 10
print(f"any_number datatype : {type(any_number)}")
any_string = 'my_name'
print(f"any_string datatype : {type(any_string)}")
any_float = 10.5
print(f"any_float datatype : {type(any_float)}")
print()
print("Convert 'int' to 'str'")
# Convert 'int' to 'str'
any_number = '10'
print(f"any_number datatype : {type(any_number)}")
print()
print("Convert 'float' to 'int'")
any_float = int(any_float)
print(f"any_float datatype : {type(any_float)}")
print()
print("Convert 'int' to 'float'")
any_number = float(any_number)
print(f"any_number datatype : {type(any_number)}")

any_number datatype : <class 'int'>
any_string datatype : <class 'str'>
any_float datatype : <class 'float'>

Convert 'int' to 'str'
any_number datatype : <class 'str'>

Convert 'float' to 'int'
any_float datatype : <class 'int'>

Convert 'int' to 'float'
any_number datatype : <class 'float'>

### 10. Why does this expression cause an error? How can you fix it?

&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

It gives us error because we are concatenating string to int datatype.

To fix this issue, we have to convert int into string

In [35]:
print('I have eaten'+99+'burritos')

TypeError: can only concatenate str (not "int") to str

In [38]:
correct_way = "I have eaten " + '99' +' burritos'
print(correct_way)

I have eaten 99 burritos